/* Base styles */
body {
    margin: 0;
    font-family: 'Lacquer', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    min-height: 100vh; /* Ensure full viewport height */
}

header {
    text-align: center;
    padding: 2vw 0; /* Responsive padding */
}

header img {
    max-width: 100%;
    height: auto;
    margin-bottom: 50px;
}

main {
    text-align: center;
}

nav {
    margin-bottom: 4vw; /* Responsive margin */
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav a {
    color: #000;
    text-decoration: none;
    padding: 1vw 2vw; /* Responsive padding */
    display: inline-block;
    margin-right: 1vw; /* Responsive margin */
}

.iframe-container {
    width: 220.2px; /* Set width to 220.2 pixels */
    height: 199.7px; /* Set height to 199.7 pixels */
    margin: 2vw auto; /* Responsive margin */
    overflow: hidden;
    position: relative; /* Set position to relative for absolute positioning of iframe */
    margin-bottom: 100px;
}

iframe {
    position: absolute; /* Position iframe inside container */
    width: 100%; /* Take full width of container */
    height: 100%; /* Take full height of container */
    top: 0;
    left: 0;
}


.streaming-stores-nav {
    padding: 1vw 2vw; /* Responsive padding */
    margin-right: 1vw; /* Responsive margin */
    display: flex;
    justify-content: center;
    margin-top: 4vw; /* Responsive margin */
}

.streaming-stores-nav img {
    max-width: 10vw; /* Responsive width */
    max-height: 10vw; /* Responsive height */
}

.streaming-stores-nav a {
    display:block;
    text-decoration: none;
}

/* Footer styles */
footer {
    margin-top: 8vw; /* Responsive margin */
}

footer nav ul {
    display: flex;
    justify-content: center;
}

/* Media queries for different screen sizes */
@media only screen and (max-width: 48rem) {
    /* Styles for screens up to 768px wide */
    nav a {
        padding: 0.5vw 1vw; /* Responsive padding */
    }

    .streaming-stores-nav img {
        max-width: 7.5vw; /* Responsive width */
        max-height: 7.5vw; /* Responsive height */
    }
}

@media only screen and (max-width: 30rem) {
    /* Styles for screens up to 480px wide */
    nav a {
        padding: 0.3vw 0.6vw; /* Responsive padding */
    }

    .streaming-stores-nav img {
        max-width: 5vw; /* Responsive width */
        max-height: 5vw; /* Responsive height */
    }
@media only screen and (max-width: 20rem) {
    /* Styles for screens up to 280px wide */
    nav a {
        padding: 0.1vw 0.2vw; /* Responsive padding */
    }

    .streaming-stores-nav img {
        max-width: 1vw; /* Responsive width */
        max-height: 1vw; /* Responsive height */
    }


/* Add additional media queries as needed for other screen sizes */



