/* Base styles */
body {
    margin: 0;
    font-family: 'Lacquer', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    min-height: 100vh; /* Ensure full viewport height */
}

header {
    text-align: center;
    padding: 1.25rem 0; /* 20px 0 */
}

header img {
    max-width: 100%;
    height: auto;
}

main {
    text-align: center;
}

nav {
    margin-bottom: 6.25rem; /* 100px in rem */
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav a {
    color: #000;
    text-decoration: none;
    padding: 0.625rem 1.25rem; /* 10px 20px */
    display: inline-block;
    margin-right: 0.625rem; /* 10px */
}

.iframe-container {
    width: 13.7625rem; /* 220.2px in rem */
    height: 12.48125rem; /* 199.7px in rem */
    margin: 1.25rem auto; /* 20px auto */
    overflow: hidden;
    margin-bottom: 6.25rem; /* 100px in rem */
}

iframe {
    width: 100%;
    height: 100%;
}

.streaming-stores-nav {
    padding: 0.625rem 1.25rem; /* 10px 20px */
    margin-right: 0.625rem; /* 10px */
    display: flex;
    justify-content: center;
    margin-top: 6.25rem; /* 100px in rem */
}
    
.streaming-stores-nav img {
    max-width: 2.85625rem; /* 45.7px in rem */
    max-height: 2.85625rem; /* 45.7px in rem */
}

.streaming-stores-nav a {
    text-decoration: none;
}

/* Footer styles */
footer {
    margin-top: 12.5rem; /* 200px in rem */
}

footer nav ul {
    display: flex;
    justify-content: center;
}

/* Media queries for different screen sizes */
@media only screen and (max-width: 3.125rem) {
    /* 100px */
    nav, .iframe-container, .streaming-stores-nav {
        margin-bottom: 0.625rem; /* 10px in rem */
    }

    footer {
        margin-top: 1.5625rem; /* 25px in rem */
    }

    .iframe-container {
        width: 6.25rem; /* 100px in rem */
        height: 6.25rem; /* 100px in rem */
    }

    .streaming-stores-nav img {
        max-width: 1.5625rem; /* 25px in rem */
        max-height: 1.5625rem; /* 25px in rem */
    }
}



